@page
@model EComm_Project.Pages.Products.AllProductsModel

@{
    ViewData["Title"] = "AllProducts";
}

<h1>AllProducts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Availability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Availability)*@
                @if (item.Availability)
                {
                    <span class="badge rounded-pill bg-success">Available</span>
                }
                else
                {
                    <span class="badge rounded-pill bg-secondary">Unavailable</span>
                }
            </td>
            <td>
                <div class="row">
                    <form method="post">
                        <div class="form-group">
                            <input type="submit" value="Add To Cart" class="btn btn-primary" style="float: right;" asp-page-handler="AddToCart" />
                            
                        </div>
                    </form>
                </div>
                        @*@*<a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>*@
                @*<a asp-page="/Orders/Redirect"  class="btn btn-primary" value="Add To Cart">Add to Cart</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
