@page
@model EComm_Project.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CustomerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
@if (Model.Customer.Orders.Any())
{
    <table class="table">
       @* <thead>*@
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Orders[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Orders[0].Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Orders[0].OrderStatus)
                </th>
                <th></th>
            </tr>
        @*</thead>*@
        <tbody>
            @foreach (var item in Model.Customer.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustomerId)
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.OrderStatus)*@
                        @if (item.OrderStatus)
                        {
                            <span class="badge rounded-pill bg-secondary">Closed</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-success">Open</span>
                        }
                    </td>
                     <td>
                            @*<a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |*@
                            <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                            @*<a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>*@
                        </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-warning"> No Orders </div>
}


